In [183]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [184]:
# Question 1
# 1i

r = 100000
n = 10
p = .5

sim_coin = np.random.uniform(size=n*r).reshape((n,r))
sim_coin_bool = sim_coin < p
sim_coin_bool.shape

(10, 100000)

In [185]:
# Convert both matricies to dataframes
sim_coin = pd.DataFrame(sim_coin)
sim_coin_bool = pd.DataFrame(sim_coin_bool)

In [186]:
#1ii
sim_coin_means = sim_coin_bool.apply(np.sum,0)
sim_coin_means

0        6
1        5
2        5
3        3
4        4
        ..
99995    5
99996    8
99997    6
99998    7
99999    4
Length: 100000, dtype: int64

In [187]:
#1iii
num_of_success = pd.DataFrame(sim_coin_means.value_counts()).sort_index()
num_of_success

        0
0     118
1     970
2    4368
3   11681
4   20474
5   24710
6   20429
7   11647
8    4472
9    1022
10    109

In [188]:
#1iv
from scipy.stats import binom

real_binom = binom.pmf(range(11),n=10,p=.5) * r

real_binom = pd.DataFrame(real_binom)
real_binom

              0
0      97.65625
1     976.56250
2    4394.53125
3   11718.75000
4   20507.81250
5   24609.37500
6   20507.81250
7   11718.75000
8    4394.53125
9     976.56250
10     97.65625

In [189]:
binom_compare = pd.concat([num_of_success, real_binom],axis=1)
binom_compare.columns = ['sammple','real binomial']
binom_compare

    sammple  real binomial
0       118       97.65625
1       970      976.56250
2      4368     4394.53125
3     11681    11718.75000
4     20474    20507.81250
5     24710    24609.37500
6     20429    20507.81250
7     11647    11718.75000
8      4472     4394.53125
9      1022      976.56250
10      109       97.65625

In [190]:
# Question 2
# 2a

r = 20
n = 10
meanseq = np.array(range(1,11))-1
sdseq = np.array(range(1,11))*.5

normal_mat = pd.DataFrame(np.random.normal(meanseq,sdseq,size=(r,n)))
normal_mat

,0,1,2,3,4,5,6,7,8,9
0,-0.677893,1.685438,2.147113,1.835311,10.132733,4.647844,5.375866,10.916983,6.523509,7.268839
1,-0.229133,1.399426,4.109029,2.591475,4.500714,3.540684,6.445751,4.245025,8.357996,9.448258
2,-0.024133,1.094019,1.224098,4.677442,2.798734,9.360786,8.087646,3.740357,6.980106,13.828143
3,-0.365691,0.628611,2.331897,2.282097,1.858344,3.545267,5.836065,-3.653311,1.928273,2.220500
4,0.836300,1.735872,4.723641,2.725962,3.854888,4.009549,10.119320,4.188854,9.967169,12.520238
5,0.174412,1.669204,-1.110607,0.926292,1.724055,0.243752,6.122192,9.195014,10.220950,9.303419
6,0.621445,3.200819,-0.407358,2.261989,3.136742,5.384628,8.546073,8.607439,10.274609,11.167376
7,-0.392954,1.771204,3.409384,4.257751,6.718492,6.234056,6.556130,4.729713,5.847074,13.171234
8,0.006211,-0.141695,1.390929,6.460164,5.987232,5.135913,9.271777,10.136140,13.210592,5.558122
9,-0.111617,0.417299,0.309705,1.678058,2.020959,6.001282,-2.103689,-0.097856,2.861088,6.825272
10,-0.303259,1.522012,1.430576,2.849825,8.783881,-2.245223,5.612419,7.539767,4.659732,8.477214
11,0.968476,0.120296,1.238351,5.935694,6.846322,2.770970,10.630772,5.805621,12.282291,13.418025
12,1.034740,1.559555,4.120186,4.342718,2.857518,-0.167291,1.587252,9.294755,16.170039,8.063517
13,-0.251648,2.158266,1.871380,1.706052,8.579405,5.470835,5.006908,6.335395,2.828406,12.146369
14,0.013943,2.322661,1.656774,5.720574,5.903422,3.556025,11.507759,8.215070,4.878228,3.772979
15,-0.069525,2.066690,2.131743,4.002669,6.856377,5.957410,-1.948543,4.150606,10.145332,8.960742
16,0.103244,1.699037,1.090176,4.265050,10.403123,7.196156,5.863565,15.331487,10.239624,2.957586
17,-0.245481,1.392659,3.459925,4.687828,3.341230,6.839684,5.358055,5.437165,7.061098,14.778775
18,0.090951,0.266776,3.976447,1.156215,1.619493,4.666281,8.206048,12.705899,3.054961,8.536248
19,0.092501,0.767892,1.656272,2.976515,3.627762,6.874465,8.495292,9.751710,5.317643,11.580686

In [191]:
#2a - means
normal_mat_means = normal_mat.apply(np.mean,0)
normal_mat_means

0    0.063544
1    1.366802
2    2.037983
3    3.366984
4    5.077571
5    4.451154
6    6.228833
7    6.828792
8    7.640436
9    9.200177
dtype: float64

In [192]:
#2a - sd
normal_mat_sd = normal_mat.apply(np.std,0)
normal_mat_sd

0    0.453057
1    0.805562
2    1.513139
3    1.593038
4    2.776277
5    2.672780
6    3.543779
7    4.219861
8    3.772815
9    3.588161
dtype: float64

In [193]:
# 2b
normal_mat_within20 = ((normal_mat_means > meanseq*.8) & (normal_mat_means < meanseq*1.2) & (normal_mat_sd > sdseq*.8) & (normal_mat_sd < sdseq *1.2))
sum(normal_mat_within20)

5

In [194]:
# 2c 

cols = meanseq[normal_mat_within20]
normal_mat_new = normal_mat[cols]
normal_mat_new

# Alternate way: 
# from itertools import compress
# cols = list(compress(normal_mat,normal_mat_within20))
# normal_mat[cols]

           2         5          6          7          8
0   2.147113  4.647844   5.375866  10.916983   6.523509
1   4.109029  3.540684   6.445751   4.245025   8.357996
2   1.224098  9.360786   8.087646   3.740357   6.980106
3   2.331897  3.545267   5.836065  -3.653311   1.928273
4   4.723641  4.009549  10.119320   4.188854   9.967169
5  -1.110607  0.243752   6.122192   9.195014  10.220950
6  -0.407358  5.384628   8.546073   8.607439  10.274609
7   3.409384  6.234056   6.556130   4.729713   5.847074
8   1.390929  5.135913   9.271777  10.136140  13.210592
9   0.309705  6.001282  -2.103689  -0.097856   2.861088
10  1.430576 -2.245223   5.612419   7.539767   4.659732
11  1.238351  2.770970  10.630772   5.805621  12.282291
12  4.120186 -0.167291   1.587252   9.294755  16.170039
13  1.871380  5.470835   5.006908   6.335395   2.828406
14  1.656774  3.556025  11.507759   8.215070   4.878228
15  2.131743  5.957410  -1.948543   4.150606  10.145332
16  1.090176  7.196156   5.863565  15.331487  10.239624
17  3.459925  6.839684   5.358055   5.437165   7.061098
18  3.976447  4.666281   8.206048  12.705899   3.054961
19  1.656272  6.874465   8.495292   9.751710   5.317643

In [195]:
# 2d
normal_mat_new_means = normal_mat_new.apply(np.mean,0)
normal_mat_new_sd = normal_mat_new.apply(np.std,0)

normal_mat_standardized = (normal_mat_new-normal_mat_new_means)/(normal_mat_new_sd)
normal_mat_standardized

           2         5         6         7         8
0   0.072121  0.073590 -0.240694  0.968798 -0.296046
1   1.368709 -0.340645  0.061211 -0.612287  0.190192
2  -0.537879  1.836901  0.524529 -0.731881 -0.175023
3   0.194241 -0.338930 -0.110833 -2.483992 -1.514032
4   1.774892 -0.165223  1.097836 -0.625598  0.616710
5  -2.080834 -1.574167 -0.030092  0.560735  0.683976
6  -1.616072  0.349252  0.653890  0.421494  0.698198
7   0.906329  0.667059  0.092358 -0.497428 -0.475338
8  -0.427624  0.256198  0.858672  0.783758  1.476393
9  -1.142181  0.579968 -2.351310 -1.641440 -1.266786
10 -0.401422 -2.505398 -0.173943  0.168483 -0.790048
11 -0.528459 -0.628628  1.242160 -0.242465  1.230343
12  1.376082 -1.727955 -1.309783  0.584371  2.260806
13 -0.110104  0.381506 -0.344808 -0.116923 -1.275448
14 -0.251933 -0.334905  1.489632  0.328513 -0.732134
15  0.061964  0.563554 -2.307530 -0.634662  0.663933
16 -0.626385  1.027021 -0.103073  2.014923  0.688926
17  0.939730  0.893650 -0.245720 -0.329780 -0.153556
18  1.281088  0.080488  0.557940  1.392725 -1.215399
19 -0.252264  0.906663  0.639560  0.692657 -0.615666